# Predictions Chart

### Build train predictions df

In [52]:
# read in train predictions .csv
train_pred = pd.read_csv('train_pred.csv')
train_pred.head()

                               id      pol3_RFE
0  2011-09-16_store_12_2011-09-23  8.639851e+05
1   2012-08-10_store_4_2012-08-17  2.335937e+06
2  2011-12-09_store_27_2011-12-16  2.250538e+06
3   2011-12-30_store_1_2012-01-06  1.475400e+06
4  2012-08-31_store_43_2012-09-07  6.268589e+05

In [53]:
train_pred['next_week_date'] = train_pred.id.str[-10:]

In [54]:
# strip this_week_date and store from train predictions and put into column
train_pred['this_week_date'] = train_pred.id.str[0:10]
train_pred['store'] = train_pred.id.str[17:19]

In [55]:
train_pred.head()

,id,pol3_RFE,next_week_date,this_week_date,store
0,2011-09-16_store_12_2011-09-23,8.639851e+05,2011-09-23,2011-09-16,12
1,2012-08-10_store_4_2012-08-17,2.335937e+06,2012-08-17,2012-08-10,4_
2,2011-12-09_store_27_2011-12-16,2.250538e+06,2011-12-16,2011-12-09,27
3,2011-12-30_store_1_2012-01-06,1.475400e+06,2012-01-06,2011-12-30,1_
4,2012-08-31_store_43_2012-09-07,6.268589e+05,2012-09-07,2012-08-31,43

In [63]:
train_pred = train_pred.rename(columns={'pol3_RFE':'predictions'})
train_pred.head()

,id,predictions,next_week_date,this_week_date,store
0,2011-09-16_store_12_2011-09-23,8.639851e+05,2011-09-23,2011-09-16,12
1,2012-08-10_store_4_2012-08-17,2.335937e+06,2012-08-17,2012-08-10,4_
2,2011-12-09_store_27_2011-12-16,2.250538e+06,2011-12-16,2011-12-09,27
3,2011-12-30_store_1_2012-01-06,1.475400e+06,2012-01-06,2011-12-30,1_
4,2012-08-31_store_43_2012-09-07,6.268589e+05,2012-09-07,2012-08-31,43

### Build test predictions df

In [56]:
# Read in test predictions .csv
pred = pd.read_csv('pred_df.csv')

In [57]:
# strip store from test predictions and put into column
pred['store'] = pred.id.str[17:19]

In [58]:
pred.head()

,id,actual,test_polreg,this_week_date,next_week_date,store
0,2011-03-18_store_7_2011-03-25,559061.58,5.527137e+05,2011-03-18,2011-03-25,7_
1,2012-10-19_store_41_2012-10-26,1316542.59,1.335390e+06,2012-10-19,2012-10-26,41
2,2012-02-17_store_36_2012-02-24,313270.45,3.505920e+05,2012-02-17,2012-02-24,36
3,2012-03-16_store_26_2012-03-23,874790.68,8.858348e+05,2012-03-16,2012-03-23,26
4,2012-03-02_store_43_2012-03-09,636677.67,6.678347e+05,2012-03-02,2012-03-09,43

In [65]:
pred = pred.rename(columns={'test_polreg':'predictions'})
pred.head()

,id,actual,predictions,this_week_date,next_week_date,store
0,2011-03-18_store_7_2011-03-25,559061.58,5.527137e+05,2011-03-18,2011-03-25,7_
1,2012-10-19_store_41_2012-10-26,1316542.59,1.335390e+06,2012-10-19,2012-10-26,41
2,2012-02-17_store_36_2012-02-24,313270.45,3.505920e+05,2012-02-17,2012-02-24,36
3,2012-03-16_store_26_2012-03-23,874790.68,8.858348e+05,2012-03-16,2012-03-23,26
4,2012-03-02_store_43_2012-03-09,636677.67,6.678347e+05,2012-03-02,2012-03-09,43

In [69]:
test_chart = pred[['id', 'predictions','next_week_date', 'this_week_date', 'store']]

In [70]:
test_chart.head()

,id,predictions,next_week_date,this_week_date,store
0,2011-03-18_store_7_2011-03-25,5.527137e+05,2011-03-25,2011-03-18,7_
1,2012-10-19_store_41_2012-10-26,1.335390e+06,2012-10-26,2012-10-19,41
2,2012-02-17_store_36_2012-02-24,3.505920e+05,2012-02-24,2012-02-17,36
3,2012-03-16_store_26_2012-03-23,8.858348e+05,2012-03-23,2012-03-16,26
4,2012-03-02_store_43_2012-03-09,6.678347e+05,2012-03-09,2012-03-02,43

### Separate out store 7

In [71]:
pred7 = pred[pred.store=='7_']

In [79]:
train_pred7 = train_pred[train_pred.store=='7_'].sort_values(by='next_week_date') 
train_pred7

,id,predictions,next_week_date,this_week_date,store
1120,2011-02-11_store_7_2011-02-18,532297.451606,2011-02-18,2011-02-11,7_
2423,2011-02-18_store_7_2011-02-25,529855.803583,2011-02-25,2011-02-18,7_
1832,2011-03-04_store_7_2011-03-11,513422.821238,2011-03-11,2011-03-04,7_
2665,2011-03-11_store_7_2011-03-18,574263.894968,2011-03-18,2011-03-11,7_
2775,2011-04-01_store_7_2011-04-08,497572.231465,2011-04-08,2011-04-01,7_
357,2011-04-08_store_7_2011-04-15,442530.648288,2011-04-15,2011-04-08,7_
2633,2011-04-15_store_7_2011-04-22,409054.341529,2011-04-22,2011-04-15,7_
670,2011-05-06_store_7_2011-05-13,383982.263159,2011-05-13,2011-05-06,7_
1192,2011-05-13_store_7_2011-05-20,400455.107459,2011-05-20,2011-05-13,7_
189,2011-05-20_store_7_2011-05-27,441242.432524,2011-05-27,2011-05-20,7_
683,2011-06-03_store_7_2011-06-10,529894.325955,2011-06-10,2011-06-03,7_
1117,2011-06-17_store_7_2011-06-24,579395.791504,2011-06-24,2011-06-17,7_
1870,2011-06-24_store_7_2011-07-01,603383.464773,2011-07-01,2011-06-24,7_
1829,2011-07-15_store_7_2011-07-22,609167.759009,2011-07-22,2011-07-15,7_
1607,2011-07-29_store_7_2011-08-05,650719.557259,2011-08-05,2011-07-29,7_
964,2011-08-05_store_7_2011-08-12,650109.133035,2011-08-12,2011-08-05,7_
2647,2011-08-19_store_7_2011-08-26,608362.909396,2011-08-26,2011-08-19,7_
12,2011-09-02_store_7_2011-09-09,568314.674011,2011-09-09,2011-09-02,7_
1539,2011-09-09_store_7_2011-09-16,546064.546920,2011-09-16,2011-09-09,7_
452,2011-09-16_store_7_2011-09-23,518641.272936,2011-09-23,2011-09-16,7_
1573,2011-09-23_store_7_2011-09-30,485736.614995,2011-09-30,2011-09-23,7_
2153,2011-09-30_store_7_2011-10-07,486640.577750,2011-10-07,2011-09-30,7_
2476,2011-10-14_store_7_2011-10-21,490449.183173,2011-10-21,2011-10-14,7_
610,2011-10-28_store_7_2011-11-04,503015.631161,2011-11-04,2011-10-28,7_
1346,2011-11-11_store_7_2011-11-18,516781.468313,2011-11-18,2011-11-11,7_
2808,2011-11-18_store_7_2011-11-25,693192.874951,2011-11-25,2011-11-18,7_
104,2011-11-25_store_7_2011-12-02,753908.204653,2011-12-02,2011-11-25,7_
1757,2011-12-16_store_7_2011-12-23,929929.069576,2011-12-23,2011-12-16,7_
2178,2012-01-13_store_7_2012-01-20,555790.495495,2012-01-20,2012-01-13,7_
1412,2012-01-27_store_7_2012-02-03,567317.300771,2012-02-03,2012-01-27,7_
1471,2012-02-03_store_7_2012-02-10,584650.952633,2012-02-10,2012-02-03,7_
1005,2012-02-10_store_7_2012-02-17,575979.423611,2012-02-17,2012-02-10,7_
464,2012-03-02_store_7_2012-03-09,560999.176446,2012-03-09,2012-03-02,7_
2534,2012-03-09_store_7_2012-03-16,621214.400815,2012-03-16,2012-03-09,7_
784,2012-03-23_store_7_2012-03-30,558955.825720,2012-03-30,2012-03-23,7_
2335,2012-03-30_store_7_2012-04-06,541169.033230,2012-04-06,2012-03-30,7_
604,2012-04-06_store_7_2012-04-13,518542.983832,2012-04-13,2012-04-06,7_
2460,2012-04-13_store_7_2012-04-20,492324.967337,2012-04-20,2012-04-13,7_
128,2012-04-20_store_7_2012-04-27,455931.918387,2012-04-27,2012-04-20,7_
2598,2012-05-04_store_7_2012-05-11,467167.477471,2012-05-11,2012-05-04,7_
1372,2012-06-08_store_7_2012-06-15,623498.551082,2012-06-15,2012-06-08,7_
1820,2012-06-22_store_7_2012-06-29,702164.674733,2012-06-29,2012-06-22,7_
1333,2012-06-29_store_7_2012-07-06,740384.752222,2012-07-06,2012-06-29,7_
91,2012-07-06_store_7_2012-07-13,717454.330095,2012-07-13,2012-07-06,7_
2610,2012-07-13_store_7_2012-07-20,689015.626515,2012-07-20,2012-07-13,7_
788,2012-07-20_store_7_2012-07-27,669975.251592,2012-07-27,2012-07-20,7_
1357,2012-07-27_store_7_2012-08-03,701626.611704,2012-08-03,2012-07-27,7_
2436,2012-08-03_store_7_2012-08-10,683892.778009,2012-08-10,2012-08-03,7_
935,2012-08-24_store_7_2012-08-31,610847.321493,2012-08-31,2012-08-24,7_
2459,2012-08-31_store_7_2012-09-07,612997.937309,2012-09-07,2012-08-31,7_
736,2012-09-07_store_7_2012-09-14,583599.734678,2012-09-14,2012-09-07,7_
1330,2012-09-14_store_7_2012-09-21,542477.357133,2012-09-21,2012-09-14,7_
972,2012-10-05_store_7_2012-10-12,496517.943012,2012-10-12,2012-10-05,7_
2659,2012-10-12_store_7_2012-10-19,512849.764911,2012-10-19,2012-10-12,7_
1756,2012-10-19_store_7_2012-10-26,517868.423365,2012-10-26,2012-10-19,7_

In [86]:
pred_chart = pd.concat(['train_pred7', 'pred7'])

TypeError: cannot concatenate object of type '<class 'str'>'; only Series and DataFrame objs are valid

In [85]:
pred_chart

,id_x,actual,predictions_x,this_week_date_x,next_week_date_x,store_x,id_y,predictions_y,next_week_date_y,this_week_date_y,store_y
0,2011-07-08_store_7_2011-07-15,642748.21,666256.669885,2011-07-08,2011-07-15,7_,2011-07-15_store_7_2011-07-22,609167.759009,2011-07-22,2011-07-15,7_
1,2011-02-04_store_7_2011-02-11,559903.13,546743.444445,2011-02-04,2011-02-11,7_,2011-02-11_store_7_2011-02-18,532297.451606,2011-02-18,2011-02-11,7_
2,2011-04-29_store_7_2011-05-06,407012.47,399443.108541,2011-04-29,2011-05-06,7_,2011-05-06_store_7_2011-05-13,383982.263159,2011-05-13,2011-05-06,7_
3,2011-07-22_store_7_2011-07-29,653382.62,651871.537183,2011-07-22,2011-07-29,7_,2011-07-29_store_7_2011-08-05,650719.557259,2011-08-05,2011-07-29,7_
4,2011-06-10_store_7_2011-06-17,610991.35,557861.374990,2011-06-10,2011-06-17,7_,2011-06-17_store_7_2011-06-24,579395.791504,2011-06-24,2011-06-17,7_
5,2011-12-09_store_7_2011-12-16,720242.19,735020.444168,2011-12-09,2011-12-16,7_,2011-12-16_store_7_2011-12-23,929929.069576,2011-12-23,2011-12-16,7_
6,2012-08-17_store_7_2012-08-24,609099.37,646311.281160,2012-08-17,2012-08-24,7_,2012-08-24_store_7_2012-08-31,610847.321493,2012-08-31,2012-08-24,7_
7,2011-10-07_store_7_2011-10-14,501959.19,518075.666536,2011-10-07,2011-10-14,7_,2011-10-14_store_7_2011-10-21,490449.183173,2011-10-21,2011-10-14,7_
8,2012-04-27_store_7_2012-05-04,465198.89,448989.304661,2012-04-27,2012-05-04,7_,2012-05-04_store_7_2012-05-11,467167.477471,2012-05-11,2012-05-04,7_
9,2011-05-27_store_7_2011-06-03,542295.37,483579.806565,2011-05-27,2011-06-03,7_,2011-06-03_store_7_2011-06-10,529894.325955,2011-06-10,2011-06-03,7_
10,2011-08-26_store_7_2011-09-02,592355.24,588494.759596,2011-08-26,2011-09-02,7_,2011-09-02_store_7_2011-09-09,568314.674011,2011-09-09,2011-09-02,7_
11,2012-02-24_store_7_2012-03-02,551058.13,569156.649254,2012-02-24,2012-03-02,7_,2012-03-02_store_7_2012-03-09,560999.176446,2012-03-09,2012-03-02,7_
12,2011-02-25_store_7_2011-03-04,551378.39,500102.566303,2011-02-25,2011-03-04,7_,2011-03-04_store_7_2011-03-11,513422.821238,2011-03-11,2011-03-04,7_
13,2011-03-25_store_7_2011-04-01,513409.67,550666.769200,2011-03-25,2011-04-01,7_,2011-04-01_store_7_2011-04-08,497572.231465,2011-04-08,2011-04-01,7_
14,2012-01-20_store_7_2012-01-27,541037.98,562696.679969,2012-01-20,2012-01-27,7_,2012-01-27_store_7_2012-02-03,567317.300771,2012-02-03,2012-01-27,7_
15,2011-11-04_store_7_2011-11-11,556015.59,551532.528623,2011-11-04,2011-11-11,7_,2011-11-11_store_7_2011-11-18,516781.468313,2011-11-18,2011-11-11,7_
16,2011-08-12_store_7_2011-08-19,645156.21,628569.060718,2011-08-12,2011-08-19,7_,2011-08-19_store_7_2011-08-26,608362.909396,2011-08-26,2011-08-19,7_
17,2012-03-16_store_7_2012-03-23,615997.29,612013.681591,2012-03-16,2012-03-23,7_,2012-03-23_store_7_2012-03-30,558955.825720,2012-03-30,2012-03-23,7_
18,2012-09-28_store_7_2012-10-05,505830.56,535403.899662,2012-09-28,2012-10-05,7_,2012-10-05_store_7_2012-10-12,496517.943012,2012-10-12,2012-10-05,7_
19,2012-06-01_store_7_2012-06-08,642963.75,629968.550255,2012-06-01,2012-06-08,7_,2012-06-08_store_7_2012-06-15,623498.551082,2012-06-15,2012-06-08,7_
20,2012-06-15_store_7_2012-06-22,687344.68,668535.280972,2012-06-15,2012-06-22,7_,2012-06-22_store_7_2012-06-29,702164.674733,2012-06-29,2012-06-22,7_
21,2011-10-21_store_7_2011-10-28,527339.52,540194.547045,2011-10-21,2011-10-28,7_,2011-10-28_store_7_2011-11-04,503015.631161,2011-11-04,2011-10-28,7_
22,2012-01-06_store_7_2012-01-13,593875.46,612466.835208,2012-01-06,2012-01-13,7_,2012-01-13_store_7_2012-01-20,555790.495495,2012-01-20,2012-01-13,7_