# Attention Walmart Shoppers
### A Walmart retail analysis

The data was originally retrieved from:
 -   https://www.kaggle.com/rutuspatel/retail-analysis-with-walmart-sales-data
 - https://www.kaggle.com/c/walmart-recruiting-store-sales-forecasting/data

### Data Dictionary

| Target       |  Data Type       | Description                     |
|--------------|------------------|---------------------------------|
| Weekly_Sales |   float64        | Sales in USD per week by store  |


| Column        |  Data Type       | Description                                      |  
|---------------|------------------|--------------------------------------------------|
| Store         |     int64        | unique identifier for store  (1-45)              |
| Date          |     object       | Date of transaction                              |
| Holiday_Flag  |     int64        | indicator of a Holiday week (boolean)            |
| Temperature   |     float64      | temperature in Farenheight                       |
| Fuel_Price    |     float64      | cost of fuel(in USD) in region                   |
| CPI           |     float64      | Prevailing consumer price index, cost of goods   |
| Unemployment  |     float64      | Prevailing unemployment rate                     |

## Goal:
- to predict weekly sales price for a store

## Think about...
- What is your goal?
- what is your TARGET? drivers for that target?
- what is one oberservation? what does one row from your dataset represent?

## Daily meetings
- standup doc
- shared knowledge doc

### Three important Questions
- what did you work on since we last talked?
- what are you planning on working on next?
- what are your blockers?

In [1]:
import pandas as pd
import numpy as np

#visualization
import matplotlib.pyplot as plt
import seaborn as sns

#custom modules
import wrangle

<hr style="border:2px solid black"> </hr>

# Acquire

In [ ]:
df= wrangle.acquire_data()

In [ ]:
df.head()

In [ ]:
df.info()

<hr style="border:2px solid black"> </hr>

# Prepare

In [2]:
df= wrangle.wrangle_walmart()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6435 entries, 2010-01-10 to 2012-12-10
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   store_id         6435 non-null   int64
 1   weekly_sales     6435 non-null   float64
 2   holiday_flag     6435 non-null   int64
 3   temperature      6435 non-null   int64
 4   fuel_price       6435 non-null   float64
 5   CPI              6435 non-null   float64
 6   unemployment     6435 non-null   float64
 7   type             6435 non-null   object
 8   store_size       6435 non-null   int64
 9   month            6435 non-null   object
 10  year             6435 non-null   datetime64[ns]
 11  deflated_series  6435 non-null   float64
 12  quarter          6435 non-null   int64
 13  season           6435 non-null   object
dtypes: datetime64[ns](1), float64(5), int64(5), object(3)
memory usage: 754.1+ KB

In [4]:
df['sales_delta'] = df.groupby('store_id').weekly_sales.diff(periods=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6435 entries, 2010-01-10 to 2012-12-10
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   store_id         6435 non-null   int64
 1   weekly_sales     6435 non-null   float64
 2   holiday_flag     6435 non-null   int64
 3   temperature      6435 non-null   int64
 4   fuel_price       6435 non-null   float64
 5   CPI              6435 non-null   float64
 6   unemployment     6435 non-null   float64
 7   type             6435 non-null   object
 8   store_size       6435 non-null   int64
 9   month            6435 non-null   object
 10  year             6435 non-null   datetime64[ns]
 11  deflated_series  6435 non-null   float64
 12  quarter          6435 non-null   int64
 13  season           6435 non-null   object
 14  sales_delta      6390 non-null   float64
dtypes: datetime64[ns](1), float64(6), int64(5), object(3)
memory usage: 964.4+ KB

In [ ]:
df.tail()

In [ ]:
df.isnull().sum()

In [ ]:
##human based split

train = df[:'05-2012'] # includes everything until june 2016
test = df['06-2012':"2012"] #includes last 6 months

plt.plot(train.index, train.weekly_sales)
plt.plot(test.index, test.weekly_sales)

<hr style="border:2px solid black"> </hr>

# Explore

In [ ]:
#count of season
df.season.value_counts()

In [ ]:
df.quarter.value_counts()

In [ ]:
df.groupby('Store').Temperature.describe()[['min','max']]

In [ ]:
#bivariate

In [ ]:
# carreglos con la categoría y número correspondiende
cat_col = joined.select_dtypes(include='object').columns
num_col = joined.select_dtypes(include='number').columns

In [ ]:
#univariate

In [ ]:
#multivariate

In [ ]:
#timeseries?