# Attention Walmart Shoppers
### A Walmart retail analysis

The data was originally retrieved from:
 -   https://www.kaggle.com/rutuspatel/retail-analysis-with-walmart-sales-data

### Data Dictionary

| Target       |  Data Type       | Description                     |
|--------------|------------------|---------------------------------|
| Weekly_Sales |   float64        | Sales in USD per week by store  |


| Column        |  Data Type       | Description                                      |  
|---------------|------------------|--------------------------------------------------|
| Store         |     int64        | unique identifier for store  (1-45)              |
| Date          |     object       | Date of transaction                              |
| Holiday_Flag  |     int64        | indicator of a Holiday week (boolean)            |
| Temperature   |     float64      | temperature in Farenheight                       |
| Fuel_Price    |     float64      | cost of fuel(in USD) in region                   |
| CPI           |     float64      | Prevailing consumer price index, cost of goods   |
| Unemployment  |     float64      | Prevailing unemployment rate                     |

## Goal:
- to predict weekly sales price for a store

## Think about...
- What is your goal?
- what is your TARGET? drivers for that target?
- what is one oberservation? what does one row from your dataset represent?

## Daily meetings
- standup doc
- shared knowledge doc

### Three important Questions
- what did you work on since we last talked?
- what are you planning on working on next?
- what are your blockers?

<hr style="border:2px solid black"> </hr>

# Acquire

In [ ]:
import pandas as pd
import wrangle

In [ ]:
df= wrangle.acquire_data()

In [ ]:
df.head()

<hr style="border:2px solid black"> </hr>

# Prepare

In [1]:
import wrangle
import numpy as np
df= wrangle.wrangle_walmart()

In [2]:
df.tail()

,store,weekly_sales,holiday_flag,temperature,fuel_price,CPI,unemployment,type,store_size,month,year,deflated_series,season
Date,,,,,,,,,,,,,
2012-12-10,41,1409544.97,0,39,3.76,199.054,6.195,A,196321,December,2012,7081.22,Winter
2012-12-10,16,491817.19,0,43,3.76,199.054,5.847,B,57197,December,2012,2470.77,Winter
2012-12-10,10,1713889.11,0,76,4.47,131.108,6.943,B,126512,December,2012,13072.31,Winter
2012-12-10,25,697317.41,0,43,4.00,216.115,7.293,B,128107,December,2012,3226.60,Winter
2012-12-10,2,1900745.13,0,60,3.60,223.015,6.170,A,202307,December,2012,8522.93,Winter

In [ ]:
df.describe()

In [ ]:
df['deflated_series']=df['deflated_series'].apply(lambda x: np.round(x, decimals=2))

In [ ]:
df.tail()

In [ ]:
#count of season
df3.season.value_counts()

In [ ]:
df3.isnull().sum()

In [ ]:
#split? cross validate?
##human based

<hr style="border:2px solid black"> </hr>

# Explore

In [ ]:
#visualization
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df.groupby('Store').Temperature.describe()[['min','max']]

In [ ]:
#bivariate

In [ ]:
# carreglos con la categoría y número correspondiende
cat_col = joined.select_dtypes(include='object').columns
num_col = joined.select_dtypes(include='number').columns

In [ ]:
#univariate

In [ ]:
#multivariate

In [ ]:
#timeseries?